.quality {
  background-image: url('/img/standarts/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 36px 0px 70px 0px;
  margin-bottom: 55px;
}

.quality__logo {
  display: block;
  margin: 0 auto;
}

.quality__list {
  display: flex;
  margin-top: 55px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  width: 170px;
  margin: 0 auto;
}

.item__icon {
  margin-bottom: 40px;
  height: 90px;
}

.quality__list-item {
  text-align: center;
}

.quality__button {
  width: 256px;
  height: 54.5px;
  background: #3B3A63;
  border-radius: 3px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
}

.quality__button:hover {
  background: #EF7F1A;
}

@media screen and (max-width: 992px) {
  .quality {
    margin: 0 52px 56px 52px;
  }

  .quality__list-item {
    width: 33%;
    margin-bottom: 40px;
  }
}